<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container">
            <nav>
            <a routerLink='/repos' routerLinkActive='active'>>View repository</a> <br><br>
            <a class='userDetails' routerLink='/user' routerLinkActive='active'>View users details</a>
           </nav>
      </div>
      <h1>Github Lite <img src="https://banner2.kisspng.com/20180824/jtl/kisspng-computer-icons-logo-portable-network-graphics-clip-icons-for-free-iconza-circle-social-5b7fe46b0bac53.1999041115351082030478.jpg" width="200" height="200">  </h1>
  <router-outlet></router-outlet>
    <pre>{{repos | json}}</pre>
  </body>
</html>
