<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container">
            <nav>
            <a routerLink='/repos' routerLinkActive='active'>>View repository</a> <br><br>
            <a class='userDetails' routerLink='/user' routerLinkActive='active'>View users details</a>
           </nav>
      </div>
      <h1>Github Lite <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgeZzQ4zB430vIiAEhWdA0Xw8a3kAL7xFyA7xuC9X3FGjsTla6" width="200" height="200">  </h1>
  <router-outlet></router-outlet>
    <pre>{{repos | json}}</pre>
  </body>
</html>
